<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- JS dependencies (order matters!) -->
    <script src="scripts/platformOverrides.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    
    <!--<script src="phonegap.js"></script>-->	
	
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-sunshine-theme.css" />
	<!-- <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" /> -->
    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />
    <link rel="stylesheet" href="css/estilos.css" />


    <!-- --------------- App init --------------- -->

    <title>KCRS</title>	
    <script src="js/md5-0.9.pack.js" type="text/javascript"></script>
    <script src="js/funciones.js"></script>
    	
	<script>
            
	</script>

</head>

<body ng-controller="AppController">
    <script src="scripts/index.js"></script>

<!--
<ons-navigator var="myNavigator">

	<ons-page style="background-color:white">
		<img src="{{urlImg.name}}" class="thumbnail2" style="" align="center">
		<script>
			//setTimeout("myNavigator.resetToPage('login.html', { animation : 'fade' });", 1000);
		</script>
	</ons-page>
	
</ons-navigator>-->
	
<ons-navigator var="myNavigator" id="login.html">
    <ons-page>
        <ons-toolbar>
            <div class="center"><b>KCRS</b></div>
        </ons-toolbar>

        <div class="login-form">
            <input type="text" class="text-input--underbar" placeholder="Cedula o Nit" name="identificacion_L" id="identificacion_L">
            <input type="password" class="text-input--underbar" maxlength="8" placeholder="Password" name="password_L" id="password_L">
            <br><br>
            <ons-button modifier="large" class="login-button" ng-click="login(myNavigator)">Entrar</ons-button>
            <br><br>
            <ons-button modifier="quiet" class="forgot-password" ng-click="form_registrarse(myNavigator)">Regístrese</ons-button>
            <ons-button modifier="quiet" class="forgot-password" ng-click="form_recordar_password(myNavigator)">Olvidaste el Password?</ons-button>

        </div>

    </ons-page>

</ons-navigator>

<ons-template id="registro.html">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-back-button>Atrás</ons-back-button>
            </div>
            <div class="center"><b>Regístrese</b></div>
        </ons-toolbar>
        
        <div class="formarea">
            <div class="form-row">
                <input type="text" class="text-input--underbar width-half" placeholder="Nombre o Empresa *" name="nombre_R" id="nombre_R" autofocus="">              
            </div>
            
            <div class="form-row">
                <input type="text" class="text-input--underbar width-half" placeholder="Cédula o Nit *" name="identificacion_R" id="identificacion_R" >              
            </div>
            
            <div class="form-row">
                <input type="password" class="text-input--underbar" maxlength="8" placeholder="Password *" name="password1_R" id="password1_R">             
            </div>
            
            <div class="form-row">
                <input type="password" class="text-input--underbar" maxlength="8" placeholder="Confirme Password *" name="password2_R" id="password2_R">             
            </div>
            
            <div class="form-row">
                <input type="text" class="text-input--underbar width-half" placeholder="Dirección" name="direccion_R" id="direccion_R" >              
            </div>            
            
            <div class="form-row">
                <input type="text" class="text-input--underbar width-half" placeholder="Teléfono" name="telefono_R" id="telefono_R" >              
            </div>            
            
            <div class="form-row">
                <input type="text" class="text-input--underbar width-half" placeholder="Celular *" name="celular_R" id="celular_R" >              
            </div>            
            
            <div class="form-row">
                <input type="email" class="text-input--underbar width-half" placeholder="Email *" name="email_R" id="email_R" >              
            </div> 
            
            <div class="lucent">
                <p class="note" id="comentario">Los campos con * son obligatorios.</p>
            </div>

            <div class="vspc form-row">
                <ons-button modifier="large" ng-click="registro()">Enviar</ons-button>
            </div>
        </div>
    </ons-page>
</ons-template>

<ons-template id="recuperar_password.html">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-back-button>Atrás</ons-back-button>
            </div>
            <div class="center"><b>Recuperar Password</b></div>
        </ons-toolbar>
        <div class="formarea">
            <input type="text" class="text-input--underbar" placeholder="Cedula o Nit" name="identificacion_RC" id="identificacion_RC" autofocus="">
            
            <div class="vspc form-row">
                <ons-button modifier="large" ng-click="recuperar_password()">Enviar</ons-button>
            </div>
        </div>
        
    </ons-page>
</ons-template>

<ons-template id="menu_inicio.html" var="">
    <ons-page ng-device-backbutton="alert('Carlos')">
        <ons-tabbar position="top">
            <ons-tabbar-item page="form_producto.html" ng-click="listar_productos()" label="Producto" icon="fa-credit-card" active="true"></ons-tabbar-item>
            <ons-tabbar-item page="lista_servicios.html" ng-click="listar_servicios()" label="Servicios" icon="ion-briefcase"></ons-tabbar-item>
            <ons-tabbar-item page="lista_comentarios.html" ng-click="listar_comentarios()" label="Comentarios" icon="ion-chatbox-working"></ons-tabbar-item>            
            <ons-tabbar-item page="ajustes.html" label="Ajustes" icon="ion-ios-cog"></ons-tabbar-item>
        </ons-tabbar>
    </ons-page>
</ons-template>

<ons-template id="form_producto.html">
    <ons-toolbar>
        <div class="center" style="text-align: center"><b>Producto</b></div>
    </ons-toolbar>

    <ons-list>

        <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="sProducto in productos" ng-click="form_producto(myNavigator,sProducto)">
          <ons-row>
            <ons-col width="95px">
              <img src="{{url.defecto}}kcrs_servidor/images/{{sProducto.IMAGEN}}" class="thumbnail">
            </ons-col>
            <ons-col>
              <div class="name">
                  {{sProducto.NOMBRE}}
              </div>              
              <div class="location">
                {{sProducto.ESTADO}}
              </div>
              <div class="desc">
                  {{sProducto.DESCRIPCION}}
              </div>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>
        
</ons-template>

<ons-template id="lista_servicios.html" ng-device-backbutton="listar_productos()">
    <ons-toolbar>
        <div class="center"><b>Servicios</b> <img id="myImg_srvcio_2" src="img/preloader-01.gif" align="center" style="visibility: hidden;"></div>
    </ons-toolbar>
	<ons-list>
            
	    <ons-list-item ng-repeat="sServicios in servicios" modifier="chevron" class="list-item-container" ng-click="form_comentario(myNavigator,sServicios)">
                <ons-row>
                  <ons-col width="95px">
                    <img src="{{url.defecto}}kcrs_servidor/images/logo.png" class="thumbnail">
                  </ons-col>
                  <ons-col>
                    <div class="name">
                        {{sServicios.NOMBRE_PRODUCTO}} ({{sServicios.NOMBRE_SERVICIO}})                                             
                    </div>
                    
                    <div class="location">
                        <div style="float: left;position: absolute;opacity: 0.4;">{{sServicios.FECHA}}</div>
                        <div class="botonpay"><span style="color: white">-</span>
                            <img src="img/boton-pagar.jpg" width="40px" height="20px" ng-if="sServicios.MONTO && sServicios.ESTADO =='Realizado'">
                        </div> 
                    </div>
                    <div class="desc">
                                  <b>ID Servicio:</b> {{sServicios.ID}}<br>
                                  <b>Técnico encargado:</b> {{sServicios.NOMBRE_TECNICO}}<br>
                                  <b>Celular:</b> {{sServicios.CELULAR_TECNICO}}<br>
                                  <b>Estado:</b> {{sServicios.ESTADO}}<br>
                      Toque para realizar un comentario sobre este servicio.
                    </div>
                  </ons-col>
                  <ons-col width="40px"></ons-col>
                </ons-row>
          </ons-list-item>
	
	</ons-list>

    <!--<p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>-->
</ons-template>

<ons-template id="lista_comentarios.html" ng-device-backbutton="listar_productos()">
    <ons-toolbar>
        <div class="center"><b>Comentarios</b></div>
    </ons-toolbar>
	<!-- ng-if="sComentario.ID_EMPRESA=='2020'" -->
	<ons-list>
            <ons-list-item ng-repeat="sComentario in comentarios" modifier="chevron" class="list-item-container" ng-click="form_comentario_eliminar(myNavigator,sComentario)">
                    <div class="list-item-right">
                      <div class="list-item-content">
                          <div class="name"><b>{{sComentario.NOMBRE_EMPRESA}}</b></div>
                                    <div class="location">
                          {{sComentario.FECHA}}
                        </div>

                        <span class="desc">{{sComentario.MENSAJE}}</span>
                      </div>
                    </div>
                </ons-list-item>
		
    </ons-list>

    <!--<p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>-->
</ons-template>

<ons-template id="form_perfil.html">
    <ons-toolbar>
        <div class="center"><b>Perfil</b></div>
    </ons-toolbar>

    <p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>
</ons-template>

<ons-template id="ajustes.html" ng-device-backbutton="listar_productos()">
    <ons-toolbar>
        <div class="center"><b>Ajustes</b></div>
    </ons-toolbar>
	
	<ons-row class="profile-wrapper">
        <ons-col width="60px" class="profile-image-wrapper">
          <img src="{{url.defecto}}kcrs_servidor/images/logo.png" class="profile-image">
        </ons-col>

        <ons-col>
          <div class="profile-name">KCRS</div>
          <div class="profile-email">kcrs@empresarios.com</div>
        </ons-col>

	</ons-row>
	
	<div class="settings-header">Información</div>

      <ons-list modifier="inset" class="settings-list">
        <ons-list-item modifier="chevron">
          Terminos de uso
        </ons-list-item>

        <ons-list-item modifier="chevron">
          Política de Privacidad
        </ons-list-item>
      </ons-list>

      <br>

      <ons-list modifier="inset" class="settings-list">
        <ons-list-item modifier="tappable" ng-click="salir()">
          <ons-icon icon="ion-log-out" style="opacity: 0.8"></ons-icon>
          Cerrar Sesión
        </ons-list-item>
      </ons-list>
	  
     <!--<p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>-->
</ons-template>

<ons-template id="form_servicio.html" ng-device-backbutton="listar_productos()"> 

    <ons-toolbar>
        <div class="center"><b>Generar Servicio</b></div>
        <div class="left">
            <ons-back-button>Atrás</ons-back-button>
        </div>
    </ons-toolbar>
    <ons-list>
      <ons-list-item>
          <input type="text" placeholder="Name" value="{{produto.NOMBRE}}" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;" readonly="">
      </ons-list-item>

      <ons-list-item>
        <ons-row>
          <ons-col width="90px">
            <span style="color: #666">Pago</span></ons-col>
          <ons-col>

            <div style="float: right; padding-right: 16px;">
              <label class="radio-button">
                <input type="radio" name="pago" id="pago" ng-click="cambiar_radio('TARJETA')">
                <div class="radio-button__checkmark"></div>
                Tarjeta
              </label>
              <label class="radio-button">
                <input type="radio" name="pago" id="pago" ng-click="cambiar_radio('EFECTIVO')" checked="checked">
                <div class="radio-button__checkmark"></div>
                Efectivo
              </label>
            </div>

          </ons-col>
        </ons-row>
      </ons-list-item>

      <ons-list-item>
        <span style="color: #666">Reparar</span>
        <ons-switch modifier="list-item" ng-click="cambiar_reparar()"></ons-switch>
      </ons-list-item>
      
      <ons-list-item>
        <span style="color: #666">Garantía</span>
        <ons-switch modifier="list-item" ng-click="cambiar_garantia()"></ons-switch>
      </ons-list-item>
      
      <ons-list-item>
        <span style="color: #666">Mantenimiento</span>
        <ons-switch modifier="list-item" ng-click="cambiar_mantenimiento()"></ons-switch>
      </ons-list-item>
      
        <ons-list-item>
        <span style="color: #666">Instalación</span>
        <ons-switch modifier="list-item" ng-click="cambiar_instalacion()"></ons-switch>
      </ons-list-item>
    </ons-list>
    
    <div class="lucent">
        <p class="note" id="comentario">Genere su servicio.</p>
    </div>
    
	<img id="myImg_srvcio" src="img/preloader-01.gif" align="center" style="visibility: hidden;">
    <div class="content-padded" id="envia_servicio">
		<ons-button modifier="large" ng-click="generar_servicio(myNavigator)">
        Enviar
      </ons-button>
    </div>
</ons-template>

<ons-template id="form_comentario.html" ng-device-backbutton="listar_servicios()"> 

    <ons-toolbar>
        <div class="center"><b>Comentario</b></div>
        <div class="left">
            <ons-back-button>Atrás</ons-back-button>
        </div>
    </ons-toolbar>
	<ons-list modifier="inset" style="margin-top: 10px">
        <ons-list-item class="to-wrapper">
          <ons-row>
            <ons-col width="52px">
              <img src="img/kcrs.jpg" width="42" class="to-image">
            </ons-col>
            <ons-col>
              <div class="to-name">KCRS</div>
              <div class="to-email">kcrs@empresarios.com</div>
            </ons-col>
          </ons-row>
        </ons-list-item>
        <ons-list-item>
          <input type="text" class="text-input text-input--transparent" placeholder="Name" style="width: 100%" name="nombre_C" id="nombre_C" value="{{empresa.NOMBRE}}" readonly="">
        </ons-list-item>

        <ons-list-item>
          <textarea class="textarea textarea--transparent" placeholder="Comentario" style="width: 100%; height: 100px;" name="comentario_C" id="comentario_C" autofocus=""></textarea>
        </ons-list-item>

      </ons-list>

      <div style="padding: 10px 9px">
        <ons-button modifier="large" style="margin: 0 auto;" ng-click="enviar_comentario()">
          Enviar
        </ons-button>
      </div>
</ons-template>	

<ons-template id="form_comentario_eliminar.html"> 

    <ons-toolbar>
        <div class="center"><b>Eliminar Comentario</b></div>
        <div class="left">
            <ons-back-button>Atrás</ons-back-button>
        </div>
    </ons-toolbar>
	<ons-list modifier="inset" style="margin-top: 10px">
        <ons-list-item class="to-wrapper">
          <ons-row>
            <ons-col width="52px">
              <img src="img/kcrs.jpg" width="42" class="to-image">
            </ons-col>
            <ons-col>
              <div class="to-name">KCRS</div>
              <div class="to-email">kcrs@empresarios.com</div>
            </ons-col>
          </ons-row>
        </ons-list-item>
        <ons-list-item>
          <input type="text" class="text-input text-input--transparent" placeholder="Name" style="width: 100%" name="nombre_C" id="nombre_C" value="{{empresa.NOMBRE}}" readonly="">
        </ons-list-item>

        <ons-list-item>
            <textarea class="textarea textarea--transparent" placeholder="Comentario" style="width: 100%; height: 100px;" name="comentario_C" id="comentario_C" readonly="">{{comentario.MENSAJE}}</textarea>
        </ons-list-item>

      </ons-list>

      <div style="padding: 10px 9px">
        <ons-button modifier="large" style="margin: 0 auto;" ng-click="eliminar_comentario(comentario,myNavigator)">
          Eliminar
        </ons-button>
      </div>
</ons-template>
</body>
</html>

<script>
	/*onload=function(){
	
		
        
		//setTimeout(alertFunc, 3000);       
 
        // Indicamos que cada 5 segundos cambie la imagen
        setInterval(alertFunc,2000);
    }*/
	</script>